/* NORMALIZAÇÃO */

* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}
body {
    background-color: #DDDDDD;
}

a {
    color: #DDDDDD;
}

a:hover {
    color: #FFDC00;
    text-decoration: underline;
}

.separador {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background-color: #111111;
}
/* COMPONENTES */

header {
    /* centraliza o texto no meio
    pois a linha tem a mesma altura da div,
    ou seja, a div só tem 1 linha. */
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #111111;
}

@media only screen and (max-width: 800px) {
    header {
        justify-content: space-around;
    }
}

header .logo {
    font-family: 'Saira Stencil One';
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 30px;
    color: #DDDDDD;
    padding: 0 10px;
}

@media only screen and (max-width: 800px) {
    nav {
         display: none; 
    }
}

header nav ul{
    list-style: none;
    display: flex;
    padding: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    border-right: solid #DDDDDD 1px;
    padding: 0 10px;
    font-family: 'Anton';
}

header nav ul li:last-child a {
    border-right: none;
}

.session {
    min-height: 550px;
    background-color: #DDDDDD;
}

#principal {
    background-image: url("../images/img05-pb.jpeg");
    background-position-x: center;
    background-size: cover;
}



#principal .text {
    font-family: 'Anton';
    color: #FFDC00;
    text-align: center;
    font-size: 45px;
    color: #FFDC00;
    text-shadow: 2px 2px #111111;
    
}

/*animação*/

#principal .text{
    animation: esquerda 2s;
}
@keyframes esquerda{
    0%{
        opacity: 0;
        position: relative;
        right: 100px;
      }
      30%{
        opacity: 0;
      }
      80%{
        opacity: 1;
      }
      100% {    
        position: relative;
        right: 0;
      }
}


.button a:hover{
    transform: scale(1.4)
}


#principal .card {
    margin: 0 auto;
    width: 400px;
    height: 550px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#principal .button {
    background-color: #FFDC00;
    color: #111111;
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;    
    border-radius: 50px 50px;
    margin: 50px auto;
    transition: transform 1s;
    will-change: scale;
   
}
.gorw .button{
    transition: transform  1s;
    will-change: scale;
}
.grow .button a:hover{
    transform: scale(1.2);
}


#principal .button a {
    color: #111111;
    font-size: 30px;
    font-family: 'Anton';
    text-decoration: none;
    text-transform: uppercase;
   
   
}

#principal .button a:hover {
    color: #111111;
    text-decoration: none;

}

#informacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #DDDDDD;
    font-family: 'Roboto';
    font-size: 30px;
}


/* cards*/

#informacoes .card {
    background-color: #111111;
    display: inline-block;
    height: 400px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Anton';
    border-radius: 4px;
}

#informacoes .card i {
    color: #FFDC00;
    font-size: 50px;
}


/*** Sessão Crossfit ***/


@media screen and (min-width: 500px){

    .pratica{
        display: flex;
        flex-direction: column;

    }

    .textcard{
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        margin: 20px;
        font-size: 20pt;
        
    }
    .box h1{
        padding-top: 20px;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 30pt;
        text-transform: uppercase;
    }

    .box img{
        padding-top: 20px;
        width: 100%;  /*Dimensão img*/
        height: 350px;
        margin-bottom: 40px;
        border-radius: 4px;
    }
   
}
@media screen and (min-width:900px){

    .pratica{
        background-color: #DDDDDD;
        display: flex;
        padding: 0 10px;
        align-items: center;
        font-family: 'Anton';
        color: black;

    }

    .textcard{
        font-size: 18pt;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        margin: 40px;
        font-size: 30pt;
        
    }
    .box h1{
        padding-top: 20px;
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 30pt;
    }

    .box img{
        width: 100%;  /*Dimensão img*/
        height: 60%;
        margin: 0;
        padding-top: 20px;
        margin-bottom: 40px;
       
}
        
}

/*** Fim do componente ***/

.session img{
    filter: grayscale(100%);
    transition: filter 1s;
    will-change: scale;
    transition: transform 1s;
}
.session img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: 1s;
}

/*formulario*/

div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    font-family: 'Roboto';
    width: 100%;
}
div form input{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#contato{
    padding-bottom: 20px;
    font-family: 'Anton';
    text-transform: uppercase;
    font-size: 30pt;
}
#nome{
    padding-top: 10px;
    margin-top: 10px;
}


#email{
    padding-top: 10px;
    margin-top: 10px;
}
#msg{
    padding-top: 10px;
    margin-top: 10px;
    width: 400px;
    height: 14vh;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#buton{
   
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #111111;
    text-align: center;
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#contato h2{
    padding-top: 20px;

}
/* fin do componente*/

/*Location*/

div .localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
 
}

#localizacao{
    padding-bottom: 20px;
    font-family: 'Anton';
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    font-size: 30pt;
    
}

iframe{
    width: 80%;
    height: 450px;
}

div .iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    padding-bottom: 60px;
}
/*fim do componente*/


/*** Footer ***/
footer {
    width: 100%;
    height: 250px;
    background-color: #111111;
}


.footer{
    width: 100%;
    height: 120px;
    justify-content: center;
}

#icones{
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 4px;
    white-space: nowrap;
    color: #DDDDDD;
    margin-top: 4px;

}

div ul #linkfooter{
    padding-bottom: 100px;
}

#icones li {
    margin-top: 40px;
}

#icones li a{
    color: #DDDDDD;
    margin-right: 15px;
    font-size: 35px;
}

#icones li a:hover{
    color: #FFDC00;
    text-decoration: underline;
}




    